* {
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

p, span, a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

input {
    position: relative;
    height: auto;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
}

input[type="submit"] {
    cursor: pointer;
    background: #212529;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    width: 100%;
}

table {
    width: 100%;
    background: #212529;
}


td,
th {
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    color: #212529;
    height: 35px;
}

td.edit,
td.remove {
    cursor: pointer;
}

td {
    background: #ccc;
}

th {
    color: #fff;
    background: #212529;
}

.clear {
    clear: both;
}

#header,
#aside,
#content,
#footer {
    max-width: 100%;
    width: 100%;
    position: relative;
}

#header {
    max-width: 220px;
    width: 100%;
    position: relative;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    float: left;
    background: #212529;
    color: #fff;
    padding-top: 56px;
    border-right: 1px solid #212529;
}

#status-bar {
    max-width: calc(100% - 220px);
    height: auto;
    padding: 15px;
    border-bottom: 1px solid #212529;
    float: right;
    width: 100%;
    background: #212529;
    color: #fff;
}

#status-bar span {
    margin-right: 15px;
}

#content {
    max-width: calc(100% - 220px);
    height: 100vh;
    padding-top: 50px;
    float: left;
    overflow: hidden;
    padding-left: 50px;
    overflow-y: scroll;
}

#content .col-lg-4 {
    position: relative;
    z-index: 99999;
}

#submit {
    margin-top: 35px;
}

.alert {
    margin-top: 25px;
}

.nav-tabs {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.nav-link {
    color: #fff;
}

.nav-tabs .nav-item {
    margin-right: 5px;
    cursor: pointer;
}


.nav-tabs .nav-link {
    padding: 8px 15px;
    border-radius: 5px;
    background: #212529;
}

.nav-item.show .nav-link {
    background: #fff;
    color: #212529 !important;
}

#register-form {
    padding-bottom: 100px;
}

.link-back {
    margin-top: 35px;
    margin-bottom: 35px;
}

.form-inline label {
    margin-left: 15px;
}

.form-group {
    margin-bottom: 10px;
}

.form-check {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.form-check input[type="checkbox"],
.form-check label {
    align-self: center;
}

.form-check input[type="checkbox"] {
    width: 15px;
    height: 15px;
    display: block;
    content: "";
    float: left;
    margin: 0;
    margin-right: 5px;
    align-self: center;
}

.fileupload-container {
    padding: 15px;
    border: 1px solid #212529;
}

.fileupload-container .info,
.fileupload-container .extensions {
    display: block;
    margin-bottom: 8px;
}

.dz-preview {
    margin-top: 20px;
}

.dz-preview img {
    max-width: 90px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dz-message {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #212529;
    color: #fff;
    border-radius: 5px;
    float: none;
    width: 100%;
}

.dz-message span {
    line-height: 150px;
    text-align: center;
}

.dz-image {
    max-width: 120px;
    float: left;
    margin-right: 20px;
}

.dz-details {
    float: left;
    display: block;
    margin-bottom: 20px;
    width: calc(100% - 150px);
}

.dz-error-message {
    position: relative;
    line-height: 25px;
}

.dz-remove {
    bottom: 20px;
    right: 20px;
    position: absolute;
}

.dz-success-mark,
.dz-error-mark {
    display: inline-block;
    float: left;
}

.form-control {
    position: relative;
    height: auto;
    overflow: hidden;
}

.nav1-label {
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 30px;
    padding-top: 5px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    padding-left: 5px;
}

.nav2 {
    padding-left: 10px;
    background: #fff;
}

.nav2-item {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.nav2-link {
    font-size: 16px;
    line-height: 35px;
    color: #212529;
}

.nav3-item {
    margin-right: 0;
}

.nav3-link {

}

.hidden {
    display: none;
}

.button {
    display: block;
    max-width: 350px;
    padding: 5px 8px;
    margin-top: 15px;
    border-radius: 3px;
    color: #fff !important;
    margin-bottom: 15px;
    background: #212529;
}

.button .oi {
    margin-right: 20px;
}

.pages-overview-header {
    width: 100%;
    background: #212529;
    color: #fff;
    line-height: 40px;
    padding-left: 10px;
}

.page-tree {
    position: relative;
    height: auto;
    overflow: hidden;
}

.page-tree .page-item {
    position: relative;
    height: auto;
    overflow: hidden;
    background: #ccc;
    padding-left: 10px;
}

.page-tree .page-item .page-link {
    line-height: 40px;
    color: #212529;
}

.page-tree .page-item .edit,
.page-tree .page-item .remove {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 16px;
}

.page-tree .page-item .edit {
    right: 40px;
}

.page-tree .sub-page-tree {
    padding-left: 15px;
}

.page-element-content-item {
    min-height: 50px;
    padding: 10px;
    border: 2px solid #343a40;
    border-radius: 3px;
    background-color: #343a40;
    color: #fff;
    position: relative;
}

#content .page-element-overview {
    width: auto;
    height: 100vh;
    overflow: hidden;
    float: left;
}

#content .page-content {
    position: relative;
    float: left;
}

.overview-controls {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    padding: 15px;
    padding-left: 0;
}

.add-new {
    padding: 8px 15px;
    border-radius: 5px;
    background: #212529;
    cursor: pointer;
    color: #fff;
}